body{
    border: 250px solid #3e535f;
 width: 300px; 
 position: absolute;
 right: 240px;  
 bottom: -20px;
}
.heading1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: absolute;
    top: -370px; 
    left: -255px;
    font-size: xx-large;   
}
.heading2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
    font-size: xx-large;
    position: absolute;
    top: -370px;
    right: -20px;
}
.heading3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: xx-large;
    position: absolute;
    top: -370px;
    right: -210px;
}
.heading4{
    position: absolute;
    top: -486px;
    left: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: whitesmoke;
}
.heading5{
    position: absolute;
    top: -170px;
    left: -168px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdc5;
}
.heading6{
    position: absolute;
    top: -110px;
    left: -170px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdc5;
}
.heading7{
    position: absolute;
    right: -78px;
    top: -150px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;

}
.heading8{
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 270px;
    right: -285px;
    left: -150px;
}
.heading9{
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 320px;
    right: 370px;
    
}
.heading10{
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 270px;
    top: 320px;
}
body{
    background-color: gray;
    
}

.border1{
    border: 300px solid #313131; 
    width:201px;
    position: absolute;
    top: 195px;
    left: -250px;
}
.border2{
    border: 30px solid #777;
    width: 60px;
    position: absolute;
    top: 166px;
    left: -100px;
}
.border3{
    border: 30px solid #777;
    width: 60px;
    position: absolute;
    top: 166px;
    left: 80px;
}
.border4{
    border: 30px solid #777;
    width: 60px;
    position: absolute;
    top: 166px;
    left: 265px;
}
.border5{
    border: 50px solid #454545;
    width: 500px;
    position: absolute;
    bottom: -243px;
    left: -153px;  
}

.image1{
    position: absolute;
    bottom: -100px;
    left: 50px;
 }

 .image2{
    position: absolute;
    bottom: -125px;
    right: 80px;
 }
 .image3{
    position: absolute;
    bottom:-130px;
    right: -110px; 
 }
 .image4{
    position: absolute;
    top: 330px;
    right: 230px;
 }

 
 
 .image8{
    position: absolute;
    top: 460px;
    right: -80px;
 }
 .image9{
    position: absolute;
    top: 585px;
    right: -80px;
 }
 .image10{
    position: absolute;
    top: 710px;
    right: -80px;
 }
 .text1{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 480px;
    right: -200px;
 }
 .text2{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 610px;
    right: -250px;
 }
 .text3{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 740px;
    right: -260px;
 }
 *{
    margin: 0px;
    padding: 0px;
 }
 nav{
    position: absolute;
    top: -50px;
    
 }
 ul li{
    display: inline;
    padding: 3px; 
    
 }
 ul li a{
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;  
 }
 ul li a:hover{
    color: green;
 }
   


.paragraph3{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: small;
    width: 230px;
    position: absolute;
    top: 570px;
    left: -190px;
}

.borderradius{
    position: absolute;
    top: -170px;
    right: -5px;
    width: 290px;
    height: 300px;
    border-radius: 50%;
   background-color: #454545;
}
.num1{
    color: yellow;
    position: absolute;
    top: 670px;
    left: -160px;
}
.num2{
    color: yellow;
    position: absolute;
    top: 750px;
    left: -160px;
}
.num3{
    color: yellow;
    position: absolute;
    top: 670px;
    left: -50px;
}
.num4{
    color: yellow;
    position: absolute;
    top: 750px;
    left: -45px;
}

    
    






 

 

    
 




